$primaryColor: #F0F0F0;
$secondaryColor: #F9CE4B;
$darkColor: #03003F;
$lightColor: #343261;


* {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

input {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

select {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
  font-size: 1.4rem;
  color: #333;
  background-color: #000;
  @media (min-width: 768px) {
    font-size: 1.6rem;
  }
}
