.content-top {
  &__text {
    text-align: center;
    color: #FFFFFF;
    font-size: 1.7rem;
    margin-bottom: 3rem;
    line-height: 2.6rem;
    font-weight: 300;
  }

  &-container {
    padding-top: 11rem;
    @media (min-width: 768px) {
      padding-bottom: 11rem;
    }

    &__imgBottom {
      margin-top: 6rem;
      margin-left: auto;
      margin-right: auto;
      &-img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
